.TaskCard{
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 15px;
}

.task_card_bottom_line{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.task_text{
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 15px;

}

.task_delete{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.task_delete:hover{
    background-color: #ebebeb;
}
.delete_icon{
    width: 30px;
    transition: ease-in-out #ededed;
}